@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.logoContainerDivider {
  display: grid;
  grid-template-columns: 20% 80%;
}

.logoContainerDivider h2{
 margin:  0px !important;
  padding: 2.5rem 0px 0px 0px  !important;
  color: red;
  font-size: 2rem;
  font-family: "Abel", sans-serif;

}


.Logo {
  width: 10rem;
  height:100% !important;
  /* margin-top: -2rem; */
  margin: -1.5rem  0  0 5rem;
}


body {
  margin: 0;
  background-image: url("https://cdn-media-1.freecodecamp.org/images/1*Xv37PaIjTqZzoWQUk-4arw.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
}
a {
  color: white !important;
}
a:hover {
  color: blue !important;
}

.login-form {
  width: 30%;
  margin: auto;
  background-color: rgba(1, 97, 165, 0);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
  border-radius: 1rem;
}

form {
  /* border-left: 1px sold black; */
  width: 90%;
  color: white;
  margin: auto;
  position: relative;
}

.login-form .group {
  margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: white;
  display: block;
}

.login-form .group .input,
.login-form .group .button {
  /* border: 1px solid black; */
  padding: 15px;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.1);
}

.login-form .group .label {
  color: white;
  font-size: 15px;
}
.login-form .group .button {
  background: #1161ee;
}

::placeholder {
  color: white !important;
  padding-left: 10px !important;
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}
/* .foot-lnk {
  text-align: center;
}

.foot-link a{
  
  color:white !important;
} */

.DisplayContainer {
  background-image: url("https://images.unsplash.com/photo-1460411794035-42aac080490a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJldHR5JTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 70% 30%;
}

.DisplayContainer h1 {
  padding-left: 2rem;
  font-family: "Abel", sans-serif;
}

.DisplayContainer h2 {
  padding-left: 2rem;
  font-family: "Abel", sans-serif;
}

.Side1 {
  /* border-right: 2px solid black; */
  height: 100vh;
  color: black !important;
  /* background-color: bisque; */
}

.Side2 .Side2Wrapper {
  display: flex;
  padding-top: 2rem;
}

.Side2 {
  background-color: rgba(0, 0, 0, 0.322);

  padding: 2rem;
}

.Side1BodyContainer {
  position: fixed;
  top: 20%;
  left: 2%;
  right: 32%;
  background: rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(135, 12, 12, 0.348);
  height: 70vh;
  padding: 5re;
}

.Side1BodyContainer h1 {
  font-size: 6rem;
  font-family: "Abel", sans-serif;
}

.ButtonContainer {
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: auto auto;
}
.btn-primary {
  height: 3rem;
  width: 100%;
  border-radius: 0.8rem;
  background-color: #1162ee15 !important;
}

img {
  height: 80vh !important;
}

.active carousel-item {
  padding-top: 2rem !important;
}

ol {
  display: flex !important;
  list-style: none;
}

ol li {
  background-color: rgba(128, 128, 128, 0);
}

ol li:hover {
  color: rgb(255, 183, 0) !important;
  text-decoration: underline;
}

.modalButton {
  background-color: rgba(128, 128, 128, 0);
  color: #003cba !important;
}

.modalButton:hover {
  color: #73e4c9 !important;
  /* text-decoration: underline; */
  cursor: pointer;
}

.loginValidator {
  text-align: center;
  background-color: rgba(255, 0, 0, 0.392);
  width: 50%;
  margin: auto;
  height: 3rem;
}

.CarouselContainer {
  opacity: 0.5;
}

.questionImg {
  width: 100%;
  height: 90vh !important;
}
.WhoAreYouContainer {
  display: grid;
  grid-template-columns: auto auto;
}

.icons {
  width: 100px;
  height: 100px;
}

.imagessContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* padding: 2rem; */
  gap: 1.5rem;
}

.imagessContainer1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* padding: 2rem; */
  gap: 1.5rem;
}

.imagess {
  height: 100px !important;
  margin: auto;
  width: 40%;
}

h4 {
  text-align: center;
}

.skillContainers {
  border: 2px solid black;
  padding: 2rem;
  border-radius: 0.5rem;
}

.skillContainers:hover {
  border: 2px solid black;
  padding: 2rem;
  color:white;
  background-color: grey;
  border-radius: 0.5rem;
}

.imagessContainer2 h6 {
  text-align: center;
}

.imagessContainer2 {
  display: grid;
  grid-template-columns: auto;
  padding: 2rem;
  gap: 1.5rem;
}

.imagessContainer2 img {
  height: 400px !important;
}

.imagessContainer2Divider {
  display: grid;
  grid-template-columns: auto auto;
}

.gamesImageContainer {
  display: grid;
  grid-template-columns: 40% 60%;
}

.gamesImageMain {
  height: 20% !important;
  width: 100%;
}

.gamesDiv {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  width: 100%;
  height: 20% !important;
}

.gamesDiv img {
  height: 80% !important;
  width: 100% !important;
}

.gamesImageMovies {
  height: 40% !important;
  width: 100% !important;
}

.petPeeves {
  height: 45vh !important;
  border-left: 2px solid rgba(163, 152, 152, 0.419);
  width: 80% !important;
  padding: 2rem;
}

.petPeevesDevider {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  gap: 2rem;
  margin: auto;
  width: 80%;
}
.itemList {
  display: grid !important;
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none !important;
  text-decoration: underline;

}

.itemList:hover {
  display: grid !important;
  margin: 0 !important;
  padding: 0 !important;
  text-decoration: underline;
  list-style-type: none !important;

  color: black;
}

.chineseFood {
  height: 80% !important;
  width: 50% !important;
}
.chineseFoodDiv {
  display: grid;
}

/* tbody tr{
  background-color: rgba(128, 128, 128, 0.453);
  border: 1px solid black;
} */

tbody td{
  background-color: rgba(128, 128, 128, 0.453);
  border: 1px solid black;
}

thead tr{
  background-color: rgb(128, 128, 128);
}

.text {
  font-weight: bold;

}

/* .navbar-nav{
  background-color: rgba(255, 0, 0, 0.265);
} */